<div id="clientes">
  <h1>Clientes</h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th name="email">Email</th>
      </tr>
    </thead>
    <tbody id="tabclientes">
      <tr>
        <td>1</td>
        <td>Klaus Wolfgram</td>
        <td name="email">klaus.cursoangular.us</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jhon Doe</td>
        <td name="email">jhon.cursoangular.us</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Lindomar, o subzero brasileiro</td>
        <td name="email">lindomar.cursoangular.us</td>
      </tr>
    </tbody>
  </table>
</div>
