<div id="orcamentos">
  <h1>Orçamentos</h1>
  <div class="orcamentos">
    <div class="card-orcamento">
      <div>
        <h2>Número</h2>
        000001
      </div>
      <div>
        <h2>Cliente</h2>
        2 - Jhon Doe
      </div>
      <div>
        <h2>Valor R$</h2>
        2000,00
      </div>
      <div>
        <h2>Data</h2>
        20/01/2024
      </div>
      <div class="control">
        <button class="view">Visualizar</button>
        <button class="edit">Editar</button>
      </div>
    </div>
    <div class="card-orcamento">
      <div>
        <h2>Número</h2>
        000002
      </div>
      <div>
        <h2>Cliente</h2>
        1 - Klaus
      </div>
      <div>
        <h2>Valor R$</h2>
        1550,00
      </div>
      <div>
        <h2>Data</h2>
        19/03/2024
      </div>
      <div class="control">
        <button class="view">Visualizar</button>
        <button class="edit">Editar</button>
      </div>
    </div>
    <div class="card-orcamento">
      <div>
        <h2>Número</h2>
        000003
      </div>
      <div>
        <h2>Cliente</h2>
        2 - Jhon Doe
      </div>
      <div>
        <h2>Valor R$</h2>
        4500,00
      </div>
      <div>
        <h2>Data</h2>
        20/03/2024
      </div>
      <div class="control">
        <button class="view">Visualizar</button>
        <button class="edit">Editar</button>
      </div>
    </div>
    <div class="card-orcamento">
      <div>
        <h2>Número</h2>
        000004
      </div>
      <div>
        <h2>Cliente</h2>
        3 - Lindomar
      </div>
      <div>
        <h2>Valor R$</h2>
        7900,00
      </div>
      <div>
        <h2>Data</h2>
        15/05/2024
      </div>
      <div class="control">
        <button class="view">Visualizar</button>
        <button class="edit">Editar</button>
      </div>
    </div>
  </div>
</div>
